.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.header>div{
  padding:15px 20px;
}
.header>div:nth-child(1){
   font-size: 30px;
   letter-spacing: 2px;
}
.header>div:nth-child(2){
  display: flex;
  align-items: center;
}
.header>div:nth-child(2)>div{
  padding:0px 5px;
}
.header>div:nth-child(2)>div>input{
  padding:10px;
  width:clamp(150px,20vw,300px);
}